.review
  .review_head
    %span.vote_ready{'data-score': review.vote}
    %span= review.title
    %span.small= review.created_at.strftime('%B %d, %Y')
  .review_author
    by
    %span.author_name= review.user.email
  .review_text= review.text
