$carousel_height: 400px
$control_width: 6%
$control_color: gray

a:hover
  background: none

.caption
  padding: 0 20px
  margin-bottom: 20px

.description
  text-align: justify
  font-size: 17px
  line-height: 1.3
